.DS_Store
*.class
*.orig
*build_obj
Workdir/data
Workdir/reicast*
Workdir/vmu*
Workdir/webui*
Workdir/emu.cfg
Workdir/lib*ant.properties

# iOS General
.DS_Store
*/build/*
**/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
*.hmap
emulator.xccheckout
reicast.xccheckout
build/*
*.so
*Karen_angelXwind*
local.properties
ant.properties
*build_obj
*.d
Workdir/data
Workdir/reicast*
Workdir/vmu*
Workdir/webui*
Workdir/emu.cfg
Workdir/lib*ant.properties
reicast-ios.xccheckout

# Linux General
shell/linux/.map
shell/linux/nosym-reicast.elf
shell/linux/reicast.elf
shell/linux/reicast_naomi.elf
shell/linux/reicast_awave.elf
shell/linux/dispframe.elf

# Visual Studio
generated
.vs

# Android Studio
*.iml
shell/android-studio/.gradle/
shell/android-studio/reicast/.cxx/
shell/android-studio/reicast/build/
shell/android-studio/reicast/local.properties

# JetBrains IDES
.idea/
cmake-build-*/
/vs2019/Debug
/vs2019/flycast.dir
/vs2019/Release
/vs2019/RelWithDebInfo
/vs2019/RTCV
/vs2019/x64
/core/deps/zlib/zconf.h.included
/vs2019/CMakeFiles
/vs2019/core/deps/glm/CMakeFiles
/vs2019/core/deps/glm/glm/CMakeFiles
/vs2019/core/deps/glslang/CMakeFiles
/vs2019/core/deps/glslang/External/CMakeFiles
/vs2019/core/deps/glslang/glslang/CMakeFiles
/vs2019/core/deps/glslang/glslang/Debug
/vs2019/core/deps/glslang/glslang/glslang.dir/Debug
/vs2019/core/deps/glslang/glslang/glslang.dir/Release
/vs2019/core/deps/glslang/glslang/glslang.dir/RelWithDebInfo
/vs2019/core/deps/glslang/glslang/OSDependent/Windows/CMakeFiles
/vs2019/core/deps/glslang/glslang/OSDependent/Windows/Debug
/vs2019/core/deps/glslang/glslang/OSDependent/Windows/OSDependent.dir/Debug
/vs2019/core/deps/glslang/glslang/OSDependent/Windows/OSDependent.dir/Release
/vs2019/core/deps/glslang/glslang/OSDependent/Windows/OSDependent.dir/RelWithDebInfo
/vs2019/core/deps/glslang/glslang/OSDependent/Windows/Release
/vs2019/core/deps/glslang/glslang/OSDependent/Windows/RelWithDebInfo
/vs2019/core/deps/glslang/glslang/Release
/vs2019/core/deps/glslang/glslang/RelWithDebInfo
/vs2019/core/deps/glslang/hlsl/CMakeFiles
/vs2019/core/deps/glslang/hlsl/Debug
/vs2019/core/deps/glslang/hlsl/HLSL.dir/Debug
/vs2019/core/deps/glslang/hlsl/HLSL.dir/Release
/vs2019/core/deps/glslang/hlsl/HLSL.dir/RelWithDebInfo
/vs2019/core/deps/glslang/hlsl/Release
/vs2019/core/deps/glslang/hlsl/RelWithDebInfo
/vs2019/core/deps/glslang/OGLCompilersDLL/CMakeFiles
/vs2019/core/deps/glslang/OGLCompilersDLL/Debug
/vs2019/core/deps/glslang/OGLCompilersDLL/OGLCompiler.dir/Debug
/vs2019/core/deps/glslang/OGLCompilersDLL/OGLCompiler.dir/Release
/vs2019/core/deps/glslang/OGLCompilersDLL/OGLCompiler.dir/RelWithDebInfo
/vs2019/core/deps/glslang/OGLCompilersDLL/Release
/vs2019/core/deps/glslang/OGLCompilersDLL/RelWithDebInfo
/vs2019/core/deps/glslang/SPIRV/CMakeFiles
/vs2019/core/deps/glslang/SPIRV/Debug
/vs2019/core/deps/glslang/SPIRV/Release
/vs2019/core/deps/glslang/SPIRV/RelWithDebInfo
/vs2019/core/deps/glslang/SPIRV/SPIRV.dir/Debug
/vs2019/core/deps/glslang/SPIRV/SPIRV.dir/Release
/vs2019/core/deps/glslang/SPIRV/SPIRV.dir/RelWithDebInfo
/vs2019/core/deps/glslang/SPIRV/SPVRemapper.dir/Debug
/vs2019/core/deps/glslang/SPIRV/SPVRemapper.dir/Release
/vs2019/core/deps/glslang/SPIRV/SPVRemapper.dir/RelWithDebInfo
/vs2019/core/deps/glslang/StandAlone/CMakeFiles
/vs2019/core/deps/glslang/StandAlone/Debug
/vs2019/core/deps/glslang/StandAlone/glslang-default-resource-limits.dir/Debug
/vs2019/core/deps/glslang/StandAlone/glslang-default-resource-limits.dir/Release
/vs2019/core/deps/glslang/StandAlone/glslang-default-resource-limits.dir/RelWithDebInfo
/vs2019/core/deps/glslang/StandAlone/glslangValidator.dir/Debug
/vs2019/core/deps/glslang/StandAlone/glslangValidator.dir/Release
/vs2019/core/deps/glslang/StandAlone/glslangValidator.dir/RelWithDebInfo
/vs2019/core/deps/glslang/StandAlone/Release
/vs2019/core/deps/glslang/StandAlone/RelWithDebInfo
/vs2019/core/deps/glslang/StandAlone/spirv-remap.dir/Debug
/vs2019/core/deps/glslang/StandAlone/spirv-remap.dir/Release
/vs2019/core/deps/glslang/StandAlone/spirv-remap.dir/RelWithDebInfo
/vs2019/core/deps/miniupnpc/CMakeFiles
/vs2019/core/deps/miniupnpc/Debug
/vs2019/core/deps/miniupnpc/libminiupnpc-static.dir
/vs2019/core/deps/miniupnpc/Release
/vs2019/core/deps/miniupnpc/RelWithDebInfo
/vs2019/core/deps/volk/CMakeFiles
/vs2019/core/deps/volk/volk.dir/RelWithDebInfo
/vs2019/core/deps/volk/volk.dir/Release
/vs2019/core/deps/volk/volk.dir/Debug
/vs2019/core/deps/volk/volk.dir
/vs2019/core/deps/volk/RelWithDebInfo
/vs2019/core/deps/volk/Release
/vs2019/core/deps/volk/Debug
/vs2019/core/deps/xxHash/cmake_unofficial/CMakeFiles
/vs2019/core/deps/xxHash/cmake_unofficial/xxhash.dir/RelWithDebInfo
/vs2019/core/deps/xxHash/cmake_unofficial/xxhash.dir/Release
/vs2019/core/deps/xxHash/cmake_unofficial/xxhash.dir/Debug
/vs2019/core/deps/xxHash/cmake_unofficial/xxhash.dir
/vs2019/core/deps/xxHash/cmake_unofficial/RelWithDebInfo
/vs2019/core/deps/xxHash/cmake_unofficial/Release
/vs2019/core/deps/xxHash/cmake_unofficial/Debug
/vs2019/core/deps/zlib/CMakeFiles
/vs2019/core/deps/zlib/zlibstatic.dir
/vs2019/core/deps/zlib/zlib.dir
/vs2019/core/deps/zlib/RelWithDebInfo
/vs2019/core/deps/zlib/Release
/vs2019/core/deps/zlib/minigzip.dir
/vs2019/core/deps/zlib/example.dir
/vs2019/core/deps/zlib/Debug
vs2019/flycast.log
